
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: url('background-image.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-color: #0a0a0a;
    color: #fff;
}


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color:  transparent;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 130px;
}

h2 {
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 20px;
}


.form-control {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 15px;
}


.btn-primary {
    background-color: #bf98e8;
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

.btn-outline-primary {
    background-color: transparent;
    border: 2px solid #bf98e8;
    color: #ba88ef;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
}

.btn-primary:hover, .btn-outline-primary:hover {
    background-color: #b378f1;
    color: #fff;
}
.alert {
    background-color:#b378f1;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}

